<!DOCTYPE html>
<html ng-app="toDoAppModule" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>To Do App</title>
  <!-- our styles -->
  <link rel="stylesheet" href="todo.css">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

  
</head>

<body>
<div id="listcontainer">
<h1>TODO List</h1>
<p>A place to store the things you have to do!</p>

<input type="text" ng-model="filter" placeholder="filter your to-dos"> 

    <ol ng-controller="toDoController as item">
            <!--person is just a word that represents each thing inside our array-->
            <!-- the ngRepeat directive to create a new div for each element in the list -->
            <li ng-repeat="task in item.toDo">
            <!-- Using the ngClass directive to conditionally apply the class of complete or false to our elements based on the task.taskComplete property's value. -->
            
                <section ng-class="{ 'completed': task.taskComplete === true, 'false': task.taskComplete === false}" >
                        
                    <p>
                        <div ng-hide="class === false"><button type="button" class="complete">Complete</button></div>
                        {{ task.taskName }}. {{ task.taskComplete }}
                        <button class="remove" ng-click="remove">X</button>
                    </p>
                </section>
            </li>
    </ol>


                
                






    <input type="text" ng-model="newitem" placeholder="add your to-dos"> 
    <p>{{ newitem }}</p> <!--displays the value of whatever was typed into "add.item"-->

    <button class="add" ng-click="insert(add-New)">Add</button>

</div>

    

    

    <script src="https://code.angularjs.org/1.6.5/angular.min.js"></script>
    <script src="todoapp_module.js"></script> 
    <script src="todo_controller.js"></script> 


</body>
</html>